:root{

    --neutral-300: #EFEFEF;
    --neutral-400: #8F8F8F;
    --neutral-350: #CACACA;
    --neutral-600: #4F4F4F;

    --title: #292929;

    --primary-500: #FF6B6B;
    --primary-700: #F73D3D;
    
    --accent-one-500: #B56BFF;
    --accent-one-700: #7D40BB;
    --accent-two-500: #6BB8FF;
    --accent-two-700: #0680F1;


    --padding-inline: calc((100vw - 1200px)/2);
}

.accent{color: var(--primary-500)}

html, body{
    margin: 0;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

p{
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.4;
    color: var(--neutral-600);
}

.btn{
    transition: 0.1s ease-in;
}

.btn:hover, .btn:focus{
    transform: scale(1.1);
}

body{
    background-color: var(--neutral-300);
    font-family: 'Poppins', sans-serif;
    max-width: calc(1920px - 20px);
}

#geral{
    max-width: calc(1920px - 20px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divisor{
    margin: 0; padding: 0; width: 100%; min-width: 100%;
    height: 86px;
    background-size: cover;
}

/* .topo-branco{
    background-image: url('../img/estruturas/divisor-topo-branco.svg');
}

.baixo-branco{
    background-image: url('../img/estruturas/divisor-baixo-branco.svg');
} */

section{
    padding-block: 40px 130px;
    padding-inline: var(--padding-inline);
    margin: 0;
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}

section:nth-child(even){
    background-color: white;
    background-image: url('../img/estruturas/divisor-topo-cinza.svg');
}

section:nth-child(odd){
    background-color: var(--neutral-300);
    background-image: url('../img/estruturas/divisor-topo-branco.svg');
}

section:last-child{
    background-image: unset;
}

.hero{
    padding-top: 100px;
    padding-bottom: 100px;
    /* align-self: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.hero--info{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

h1{
    font-size: 3.1rem;
}

.headline{
    font-weight: bold;
}

.subheadline{
    font-size: 1.1rem;
    line-height: 1.4;
    max-width: 30em;
    font-weight: 300;
}

.cta{
    display: flex; gap: 2em;
}

a.btn{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: black;
}

a.cta--primary{
    background-color: var(--primary-700);
    border-color: var(--primary-700);
    color: white;
}

a.cta--secondary{
    background-color: white;
    border-color: var(--primary-700);
    color: var(--primary-700);
}

.hero--media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.como-funciona{
    padding-bottom: 170px;
}

h2{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2em;
}

.col3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.col3 > div{
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.1s ease-in;
}

.como-funciona--item:hover{
    transform: scale(1.1);
}

.como-funciona--item .line--funcionamento{
    transition: 0.3s ease-in;
}

.como-funciona--item:hover .line--funcionamento{
    transform: scaleX(1.5);
}

.como-funciona--item p{
    font-size: 1.125rem;
    color: var(--neutral-600);
    line-height: 1.4;
    font-weight: 300;
}

.assine{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.assine h2{
    padding-top: 80px;
    padding-bottom: 0;
}

.assine p{
    max-width: 35em;
}
.assine p a{
    color:var(--neutral-600);
    font-weight:bold;
    text-decoration: underline;
}

.planos{
    padding-top: 30px;
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.plano{
    text-align: left;
    /* padding: 2.5rem; */
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    width: 18rem;
    max-width: 100%;
    height: 30rem;
    border-radius:10px;
    border: 1px solid var(--neutral-350);
    transition: 0.1s ease-in;
    color: var(--neutral-600);
}

.plano > *{
    padding-inline: 2rem;
}

.plano:hover, .plano:focus{
    transform: scale(1.05);
}

.plano.destaque{
    border-radius: 0 0 10px 10px;
    border-color: var(--primary-700);
}

.plano.destaque::before{
    box-sizing: border-box;
    position: absolute;
    width: 18rem;
    top: -30px;
    left: -1px;
    content:'MAIS PROCURADO';
    text-align: center;
    padding-block: 10px;
    background-color:var(--primary-700);
    color: white;
    border: 1px solid var(--primary-700);
    border-radius: 10px 10px 0 0;
}

.link-place{
    text-align: center;
    display: flex;
    justify-content: center;
}


.plano--titulo{
    background-color: var(--neutral-300);
    font-size: 1.375rem;
    font-weight: 500;
    padding-block: 0.5rem;
}

.plano--valor{
    color: var(--title);
    font-size: 3rem;
    font-weight: bold;
}

.plano--lista-itens{
    text-align: left;
    font-size: 0.875rem;
    list-style: url('../img/icon-item-lista.svg');
    list-style-type: none;
    line-height: 1.3;
}

.plano--lista-itens li{
    padding-block: 0.3rem;
}


.link-assine{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    color: var(--neutral-600);
    font-weight: bold;
}

.link-assine img{
    transition: 0.1s ease-in;
}

.link-assine:hover{
    color: var(--primary-700);
}

.link-assine:hover img{
    transform: scaleX(1.5) translateX(5px);
}

.cursos-individuais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0;
}

.cursos-individuais--topo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: var(--padding-inline);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cursos-individuais .headline{
    font-size: 2rem;
    padding-bottom: 0;
}
.accentpurple{
    color: var(--accent-one-500);
}

.cards--cursos{
    margin-top: 2rem;
    position: relative;
    max-width: calc(100% - 1.5rem);
    padding-block: 3rem;
    padding-left: 1.5rem;
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    overflow: hidden;
    /* overflow-x: auto;    */
}

.cards--cursos::before{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    content: '< arraste para os lados >';
    color: var(--neutral-600);
}


.card--curso{
    cursor:all-scroll;
    height: fit-content;
    width: 340px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 5px;
    border: 1px solid var(--neutral-350);
    transition: 0.1s ease-in;
    flex-shrink: 0;
    padding-bottom: 1rem;

}

.card--curso:last-of-type{
    margin-right: 2rem;
}

.card--curso:hover{
    transform: scale(1.1);
}


.card--curso > *:not(:first-child){
    padding-inline: 15px;
}

.card--curso .card--curso--topo{
    height: calc(150px - 30px);
    background: linear-gradient(90deg, #000000 28.38%, rgba(0, 0, 0, 0.39) 100%), url('../img/pictoblox-banner.png');
    background-size: cover;
    padding: 15px;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo--curso{
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
}

.tipo--curso{
    color: white;
    font-size: .875rem;
    text-align: right;
}

.card--curso--descricao{
    font-size: 1rem;
    line-height: 1.5;
}

.card--curso--info{
    display:flex;
    justify-content: space-between;
    gap: 0;
}

.duracao{
    flex: 1;
    display: flex;
    gap: 5px;
    align-items: center;
    
}
.duracao p{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
}

.valores{
    text-align: right;
}

.valor--original{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 27px;
    color: var(--neutral-400);
    text-decoration: line-through;
}

.valor--atual{
    font-weight: 700;
    font-size: 1.5rem;   
    line-height: 2rem; 
}

.card--curso--cta{
    margin-left: 15px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid var(--title);
    color: var(--title);
    padding: .8rem 2rem;
    font-size: 1.125rem;
    font-weight: 300;
}

.card--curso--cta{
    transition: 0.1s ease-in;
    cursor: pointer;
}
.card--curso--cta:hover{
    background-color: var(--accent-one-700);
    color: white;
    border: var(--accent-one-700);
    transform: scale(1.1);
}
.card--curso--cta:hover svg path{
    fill: white;
}
.card--curso--cta img{
    width: 1rem;
}

.arrow-controllers{
    margin-right: var(--padding-inline);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 3rem;
}

.cursos-individuais .cta--secondary{
    margin-right: var(--padding-inline);
    color: var(--accent-one-700);
    border-color: var(--accent-one-700);
    padding: 1rem;
}


.accentblue{
    color: var(--accent-two-500);
}

.consultorias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.consultorias .col3{
    gap: 1rem;
}

.consultorias--topo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.consultorias--item{
    border-radius: 10px;
    background-color: white;
    border: 1px solid var(--neutral-350);
    padding: 2rem;
    transition: 0.1s ease-in;
}

.consultorias--item:hover{
    transform: scale(1.1);
}

.consultorias .col3{
    padding-bottom: 4rem;
}

.col3 h3{
    font-size: 1.5rem;
    color: var(--title);
    font-weight: 300;
}

.consultorias--item p{
    max-width: 275px;
    font-size: 1rem;
    line-height: 1.3;
    color: var(--neutral-600);
}

.feature{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.consultorias .cta--secondary{
    color: var(--accent-two-700);
    border-color: var(--accent-two-700);
    padding: 1rem;
}