:root{

    --neutral-300: #EFEFEF;
    --neutral-320: #616161;
    --neutral-400: #8F8F8F;
    --neutral-350: #CACACA;
    --neutral-600: #4F4F4F;

    --title: #292929;

    --primary-500: #FF6B6B;
    --primary-700: #F73D3D;
    
    --accent-one-500: #B56BFF;
    --accent-one-700: #7D40BB;
    --accent-two-500: #6BB8FF;
    --accent-two-600: #50a4f1;
    --accent-two-700: #0680F1;


    --padding-inline: calc((100vw - 1200px)/2);
}

.accent{color: var(--primary-500)}

html{
    scroll-behavior: smooth;
}
html, body{
    margin: 0;
}

a{
    text-decoration: none;
}

p{
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.4;
    color: var(--neutral-600);
}