.btn{
    transition: 0.1s ease-in;
}

.btn:hover, .btn:focus{
    transform: scale(1.05);
}
.btn:hover svg, .btn:focus svg{
    transform: scale(1.1);
    transform: translateX(10px);
}

body{
    background-color: var(--neutral-300);
    font-family: 'Poppins', sans-serif;
    max-width: calc(1920px - 20px);
    padding-inline: var(--padding-inline);
}

.flex-row{
    display: flex;
}

.flex-start-center{
    justify-content: flex-start;
    align-items: center;
}

#geral{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: flex-start;
    padding-block: 60px;
    padding-inline: 10px;
}


#titulo-h1{
    gap: 2rem;
    color: var(--title);
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 40px;
}

section{
    display: flex; 
    flex-direction: column;
    gap: 2rem;
}


h2{
    font-weight: bold;
    color: var(--title);
    line-height: 1;
    font-size: 1.75rem;
}

.cards{
    gap: 1.5rem
}

.card{
    border-radius: 10px;
    background-color: white;
    border: 1px solid #D2D2D2;
    width: 260px;
}
.topo-card{
    height: 5rem;
    min-height: 5rem;
    background-color: var(--primary-500);
    border-radius: 10px 10px 0 0;
    background-image: url(../img/topo-card-placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* #cardAndamento1 .topo-card{
    background-image: url(../img/topo-card-placeholder.png);
} */
.conteudo-card{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding-block: 2.5rem;
    gap: 2.5rem;
    
}
.titulo-card{
    font-size: 1.375rem;
    color: var(--title);
    font-weight: 500;
    line-height: 116.5%;
    min-height: 100px;
}
.botao-card-cursos{
    border-radius: 5px;
    border: 1px solid var(--title);
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}
.botao-card-cursos p{
    font-size: 1rem;;
}

#cardDisponiveis1 .topo-card{
    background-image: url(../img/topo-card-placeholder.png);
}

a.link-mais{
    color: var(--neutral-320);
    text-decoration: underline;
}

a.link-mais:hover, a.link-mais:focus{
    color: var(--title);

}

a.ver-todos-cursos{
    color: var(--title);
    text-decoration: none;
}
a.ver-todos-cursos:hover, a.ver-todos-cursos:focus{
    text-decoration: underline;
}

.subtitulo{
    font-size: .8rem;
    color: var(--neutral-320);
    margin-bottom: 10px;
}

.item-checklist{
    padding-bottom: .5rem;
    gap: 1rem;
}
.item-checklist svg{
    min-width: 12px;
    height: 10px;
}
.item-checklist-text{
    font-size: 0.875rem;
    color: var(--neutral-600);
    line-height: 124.3%;
}

#assinaturas .area-titulo-assinatura{
    height: 70px;
}
#assinaturas .area-checklist{
    height: 90px;
}

#cardAssinaturas1 .topo-card{
    background-image: url(../img/topo-assinatura-consultoria.png);
}
#cardAssinaturas2 .topo-card{
    background-image: url(../img/topo-assinatura-plano.png);
}

.contratacao{
    font-size: 1rem;
    font-weight: 400;
    color: var(--neutral-600);
    line-height: 130%;
    padding-bottom: 1rem;
}


@media screen and (max-width: 1280px) {
    *{
        flex-wrap: wrap;
    }
    #geral{
        padding-inline: 10px;
    }
    section{
        width: 100%;
        padding-bottom: 4rem;
    }
    .card{
        width: 300px;
    }
    #assinaturas .conteudo-card .flex-row{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
}


@media screen and (max-width: 640px) {

    *{
        flex-wrap: wrap;
    }
    .flex-row{
        flex-direction: column;
        
    }
    section{
        width: 100%;
        padding-bottom: 4rem;
    }
    #titulo-h1.flex-row{
        /* flex-direction: row; */
        gap: 10px;
        flex-wrap: nowrap;
        font-size: 2rem;
        text-align: center;
    }
    h2{
        text-align: center;
    }

    #geral{
        padding-inline: 10px;
    }
    

    .card{
        width: 100%;
    }
    .titulo-card{
        min-height: unset;
    }
    a.ver-todos-cursos{
        width: calc(100% - 20px);
        padding-block: 1rem;
        background-color: var(--primary-500);
        color: white;
        text-align: center;
        border-radius: 5px;
    }
    a.ver-todos-cursos svg path{
        fill: white;
    }
    #assinaturas .conteudo-card .flex-row{
        flex-direction: row;
    }
    #assinaturas .conteudo-card{
        min-height: unset;
        gap: 10px;
    }


}